.header_logo{
    background-color: black;
    width: 20.22%;
    font-size: 50px;
    text-decoration: none;
}
.header_logo a{
    text-decoration: none;
    color: rgb(39, 203, 42);
    margin-left: 55px;

}
.header_logo a :hover{
  color: white;
}
.header_logo a i:hover{
  color: white;
}
.header_link{
    background-color: gray;
    width: 80%;
    text-align: center;

}
.header_link a {
    text-decoration: none;
    padding: 5em;
    font-size: 15px;


}
.header_link ul li {
    display: inline;
    
}
.header_link>ul>li>a{
  color: white;
  font-family: 'Roboto', sans-serif;
}
.header_link>ul>li>a:hover{
  color: black;
}
.home_left>p>a{
  color: white;
}
.home_left>p>a:hover{
  color: rgb(119, 119, 233);
}
.right_content h1{
  color: white;

}
.right_content h1:hover{
  color: rgb(14, 12, 12);
}
.root{
    width: 100%;
}
body{
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
}  

.container{
  display: flex;
  width: 100vw;
}
.left_content {
    position: relative;
    background-color:black;
    width: 20%;
    min-height: 650px;
    color: white;
    left: 0;
}
.right_content {
    background-color: grey;
    min-height: 650px;
    width: 80%;
    text-align: center;
}


.player .icon-pause {
    display: none;
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  .player__text>p{
    width: 150px;
    margin-left: 20px;
    margin-top: 23px;
  }
  .searchTerm {
  width: 70%;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border-top: 3px solid white;
    font-size: 17px;
    overflow: hidden;
    margin-left: 25px;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }
  

  
  /* HEADER */
  header {
  margin-bottom: 10px;
   margin-left: 40px;
   width: 20%;
  
  }
  
  header h4 {
    color: black;
    font-size: 8px;
  }
  
  header h2 {
    color: black;
    font-size: 15px;
  }
  
  /* CD */
  .cd {
    display: flex;
    width: 30px;
  }
  .cd-thumb img {
    margin-top: 20px;
    width: 70px;
    height: 70px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    margin-left: 50px;
    }
  
  /* CONTROL */
  .control {
    display: flex;
    justify-content: center;
    margin-left: 650px;
    padding: 18px 0 8px 0;
  }
  
  .control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
  }
  
  .control .btn.active {
    color:white;
  }
  
  .control .btn-toggle-play {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
  }
  
  .progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color:gray;
    cursor: pointer;
  }
  .dashboard{
    display: flex;
  }

.home  ul li {
    list-style: none;
    
    }
  .list_track{
      display: flex;
      width: 90%;
      margin-left: 5%;
      margin-top: 50px;
      color: rgb(199, 194, 194);
  }
  .hover-a:hover{
    background-color:rgb(249, 239, 224);
    z-index: 999;
  }
  .img1{
    margin-left: 20px;
    margin-right: 20px;
  }
  img{
      width: 170px;
      height: 170px;
      box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }
  p{
      font-weight: 700;
  }
  li>div{
      position: relative;
      z-index: 1;
  }
  /* li>div:hover{
      background-color:rgb(249, 239, 224);
      z-index: 999;
  } */
.home_left>p{
    color: rgb(255, 247, 247)	;
    margin-left: 40px;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0px;
    margin-top: 60px;
}
.home_left>p:nth-child(4){
    margin-top: 20px;
}
.home_left>p:nth-child(6){
    margin-top: 175px;
}
.home_left>p:hover{
    color: rgba(0,0,0, 0.5);
    cursor: pointer;
  
}
.home_left p a {
  text-decoration: none;
}
.player{ 
width: 100%;
background-color:rgb(40, 34, 34);
position: fixed;
bottom: 0px;
}
.volume {
  margin-left: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgb(40, 34, 34))
 
}
.range {
  width: 300px;
  height: 15px;
  appearance: none;
  background:rgb(244, 243, 243);
  outline: none;
  border-radius: 15px;
  overflow: hidden;
}
.range::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: rgb(4, 3, 3);
  border-radius: 50%;
  border: 2px solid #e7f0f7;
  box-shadow: -407px 0 0 400px #27a0ff;
}
.progress{
  margin-left: 100px;
}
.container_end {
  display: flex;
}
.noi-dungabout{width:  20% ;
height: 300px;
}
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 900px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
  padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col span, li{
	color: #bbbbbb;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
} */

/* CSS Footer */
.footer{
  display: flex;
  height: 300px;
  background-color: rgb(149, 143, 143);
}
.footer-col{
  margin-left: 300px;
}
.footer-col>h4{
  font-size: 23px;
  text-transform: capitalize;
}
.footer-col-2{
  margin-left: 250px;
  margin-right: 30px;
}
.list_type>p{
  font-weight: 300;
}
.contact>p{
  margin: 0;
  font-weight: 300;
}
.list_type>p{
  margin: 0;
}
.list_type>p>a{
  text-decoration: none;
  color: black;
}
.list_type>p>a:hover{
  color: #666;
  text-decoration: underline;
  font-size: 18px;
}
.social-links{
  text-align: center;
}
.social-links>a>i{
  font-size: 18px;
  letter-spacing: 7px;
}
.fa-facebook-f{
  color: #3B5998;
}
.fa-twitter{
  color: #1DA1F2
  ;
}
.fa-instagram{
  color: #E95950;
}
.fa-linkedin-in{
color: #00A0DC;
}
.social-links>a>i:hover{
  font-size: 23px;
}
.footer h4:hover{
  color: #d3d3d3;
}